.head {
  color: #e61919;
}

.list {
  line-height: 30px;
  color: #bf4040;
}

#para2 {
  background-color: yellow;
}

#para1 {
  text-decoration: line-through;
}

.list4 {
  text-decoration: underline;
}

.word-space {
  letter-spacing: 5px;
  color: #9f6060;
}

.link {
  color: brown;
  background-color: yellow;
  text-decoration: none;
}

.para3 {
  color: #9f6060;
}
